$c-primary:#3F5D45;
$c-secondary:#EAF0ED;
$c-info:#8DA291;
$c-warning:#FFE180;

$c-primary-comp: #f693e4;
$c-warning-comp: #f3b31b;
$c-community-bg: #e6e6e6;

$width : 940px;

$font-title: 'PingFang TC','Microsoft JhengHei',sans-serif;
$font-normal: 'Helvetica Neue',Arial,serif;
$font-times: Times,'Times New Roma',serif;

$weight-bold: bold;
$weight-normal: normal;
$weight-light: lighter; 
